.card-main{
float: left;}
.pos {
    margin-bottom: 12px;
  }
  .death{
    color:red !important;
    
}.new{
    color:blue !important;
    
}.rec{
    color:green !important;
    
}
.card-root1{
    background-color: rgb(125, 188, 251) !important;
}
.card-root2
{
    background-color: rgb(246, 155, 139) !important;
}
.card-root3{
    background-color: rgb(59, 124, 57) !important;
}